<!DOCTYPE html>
<html lang="en">

<!-- thymeleaf buat nampilin error -->
<head xmlns:th="http://www.thymeleaf.org"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}">
</head>

<body>
    <div id="container">
        <div id="login-box">
            <img id="logo" th:src="@{/images/Logo.png}" alt="Logo">

            <h2>Login Page</h2>

            <!-- styling error nya -->
            <div th:if="${error}" style="color: red; margin-bottom: 10px; text-align: center;">
                <p th:text="${error}"></p>
            </div>

            <form action="/login" method="post">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter email" required>

                <label>Password</label>
                <input type="password" name="password" placeholder="Enter password" required>

                <a id="forgot" href="/forgot-password">Forgot Password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
