:root {
    --text-color: #535F24;
    --secondary-color: #ACBD6F;
    --background-color: #FDFAE7;
    --button-color: #8FA053;
    --input-background: #FFFFFF;
    --input-border: #D8D8D8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    grid-area: header;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 0.5em 0;
    color: var(--input-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: var(--input-background);
}

nav img {
    width: 2.5em;
    filter: brightness(0) invert(1);
}

#nav-left {
    width: 20%;
    margin-left: 2em;
}

#nav-left img {
    transform: scale(1.5);
}

#nav-left li:nth-child(3) {
    background-color: var(--button-color);
}

#nav-left li:nth-child(2),
#nav-left li:nth-child(3) {
    padding: 0.5em;
}

#nav-left li:nth-child(2):hover,
#nav-left li:nth-child(3):hover {
    cursor: pointer;
    background-color: var(--button-color);
}

#nav-right {
    margin-right: 2em;
    cursor: pointer;
}

#nav-right li:first-child {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: small;
    justify-content: end;
}

#nav-right div {
    width: 3.5em;
    height: 3.5em;
    background-color: rgb(198, 172, 209);
    border-radius: 50%;
    overflow: hidden;
}

#nav-right div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
}

#nav-right li:hover {
    background-color: var(--button-color);
}

/* MAIN CONTENT */
main {
    grid-area: main;
    width: 90%;
    height: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 1em;
    color: var(--text-color);
}


/* NAVBAR */
#course-nav {
    margin-top: 2em;
    width: 30%;
    height: 6%;
    border-radius: 0.3em;
    background-color: var(--button-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

#course-nav a {
    padding: 0.4em;
    text-decoration: none;
    color: var(--input-background);
}

#course-nav a:nth-child(1) {
    background-color: var(--secondary-color);
}

#course-nav a:hover {
    background-color: var(--secondary-color);
    transition: 0.5s;
}


/* PHASE EDIT CONTAINER*/
#phase-edit-container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1em;
}

#back-icon img {
    width: 80%;
    cursor: pointer;
}

/* PHASE CONTAINER */
#phase-container {
    padding: 1em;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 0.5em;
    border: 1px solid var(--text-color);
    background-color: var(--input-background);
}


/* INPUT HEADER */
#input-header {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#score {
    width: 70%;
    padding: 0.5em;
    margin-left: 2em;
    border: 1px solid var(--text-color);
    border-radius: 0.5em;
}


/* PHASE BODY CONTAINER*/
#phase-body-container {
    display: flex;
    gap: 3em;
}


/* TABEL */
#table-container {
    width: 50%;
    height: 23rem;
    margin-top: 1em;
    overflow-y: scroll;
}

#table-container table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--input-background);
}

#table-container thead th {
    padding: 0.5em;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    padding: 0.5em;
    border: 1px solid #ddd;
}

#table-container tbody td {
    padding: 0.5em;
    border-bottom: 1px solid #eee;
}

/* TABEL KOLOM INDIVIDUAL */
table tbody tr td:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-weight: 500;
}

/* KOLOM INDIVIDUAL EDIT ICON */
table tbody tr td:last-of-type img {
    width: 1em;
    cursor: pointer;
}

/* KOLOM INDIVIDUAL EDIT INPUT NILAI */
table tbody tr td:last-of-type input {
    display: none;
}


/* COMMENT CONTAINER */
#comment-container {
    margin-top: 1em;
    width: 40%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#comment-container textarea {
    padding: 0.5em;
    width: 100%;
    height: 40%;
    border-radius: 0.5em;
}

#save {
    width: 50%;
    padding: 0.5em;
    color: var(--input-background);
    align-self: flex-end;
    justify-self: end;
    background-color: var(--button-color);
    border: 1px solid var(--text-color);
    border-radius: 0.5em;
}


/* POPUP CREATE SUCCESS */
#popup-success {
    margin-top: 0.5em;
    padding: 1em;
    width: 40%;
    height: 17%;
    color: var(--input-background);
    background-color: var(--button-color);
    position: absolute;
    top: 50;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#popup-success p {
    font-size: large;
}

#popup-success img {
    padding: 0.5em;
    height: 40%;
    align-self: end;
    cursor: pointer;
    background-color: #8FA053;
}