:root {
    --secondary-color: #ACBD6F;
    --background-color: #FDFAE7;
    --button-color: #8FA053;
    --input-background: #FFFFFF;
    --input-border: #D8D8D8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: auto 1fr;
}

header {
    grid-area: header;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 0.5em 0;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

nav img {
    width: 2.5em;
    filter: brightness(0) invert(1);
}

#nav-left {
    width: 20%;
    margin-left: 2em;
}

#nav-left img {
    transform: scale(1.5);
}

#nav-left li:nth-child(2),
#nav-left li:nth-child(3) {
    padding: 0.5em;
}

#nav-left li:nth-child(2):hover,
#nav-left li:nth-child(3):hover {
    cursor: pointer;
    background-color: var(--button-color);
}

#nav-right {
    margin-right: 2em;
    cursor: pointer;
}

#nav-right li:first-child {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: small;
    justify-content: end;
}

#nav-right div {
    width: 3.5em;
    height: 3.5em;
    background-color: rgb(198, 172, 209);
    border-radius: 50%;
    overflow: hidden;
}

#nav-right div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
}

#nav-right li:hover {
    background-color: var(--button-color);
}

/* MAIN CONTENT */
main {
    grid-area: main;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-container {
    padding: 2em;
    width: 50%;
    height: 75%;
    color: var(--input-background);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border-radius: 0.5em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#profile-head {
    margin-top: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 3em;
}

#profile-picture {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--input-background);   
}

#profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
}

#profile-body {
    font-size:  1.2em;
    display: flex;
    gap: 1.5em;
}

#body-left {
    margin: 0.3em;
    text-align: right;
}

#body-right {
    margin: 0.3em;
}

#profile-button {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

#profile-button button {
    width: 40%;
    font-weight: bold;
    font-size: 1em;
    padding: 0.7em 1.5em;
    background-color: var(--button-color);
    border: none;
    border-radius: 0.3em;
    color: var(--input-background);
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#profile-button button:hover {
    color: #000;
    background-color: #c6e74f;
    transition: 0.5s;
}


/* EDIT PROFILE HIDDEN */
#form-edit-profile {
    display: none;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
}

#form-edit-profile input {
    margin: 0.2em;
    padding: 0.2em;
    border: 1px solid var(--input-border);
    border-radius: 0.2em;
    background-color: var(--input-background);
}