<!DOCTYPE html>
<html lang="en">

<head xmlns:th="http://www.thymeleaf.org"> >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Dosen</title>
    <link rel="stylesheet" th:href="@{/css/home-page.css}">
    <script src="" defer></script>
</head>

<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img src="/images/book.png" alt="book icon"></li>
                <li><a href="home-dosen">Home</a></li>
                <li><a href="course-home.html">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span>Nama</span> 
                    <span>61823010xx@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a href="/profile">
                            <img src="" alt="profile picture">
                        </a>
                    </div>
                </li>
                <li><img src="/images/bell.png" alt="notification icon"></li>
                <li><img src="/images/logout.png" alt="logout icon"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="image-container">
            <img src="/images/homepage-img.png" alt="">
            <div id="info-wrapper">
                <img src="/images/book.svg" alt="">
                <p>Tubes <br>UNPAR</p>
            </div>
        </section>

        <section class="dropdown-box" data-dropdown>
            <div class="dropdown-header" data-dropdown-trigger>
                <span>Make Account</span>
                <img src="images/Help circle.png" alt="?">
            </div>
            <div class="dropdown-content">
                <p>Create admin, assistant, or student accounts easily.</p> 
            </div>
        </section>


        <section class="dropdown-box" data-dropdown>
            <div class="dropdown-header" data-dropdown-trigger>
                <span>Manage Course</span>
                <img src="images/Help circle.png" alt="?">
            </div>
            <div class="dropdown-content">
                <p>Edit, remove, or add new courses.</p> 
            </div>
        </section>
    </main>
</body>
</html>