<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Besar</title>
    <link rel="stylesheet" th:href="@{/css/admin/matkulStyle.css}">
    <script th:src="@{/js/createCourseAdmin.js}" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img th:src="@{/images/Logo.png}" alt="book icon"></li>
                <li><a th:href="@{'/admin/home'}">Home</a></li>
                <li><a th:href="@{'/admin/semesters'}">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span th:text="${user.nama}">Nama User</span> 
                    <span th:text="${user.email}">user@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a href="profile-page.html">
                            <img th:src="${user.fotoProfil != null} 
                                ? @{/uploads/profile/{f}(f=${user.fotoProfil})} 
                                : @{/images/default_profile.png}" 
                                alt="profile picture">
                        </a>
                    </div>
                </li>
                <li><img th:src="@{/images/bell.png}" alt="notification icon"></li>
                <li><img th:src="@{/images/logout.png}" alt="logout icon"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="course-overview">
            <h3>Course Overview</h3>
            <div id="course-header">
                <div id="filter-sort">
                    <img th:src="@{/images/filter.svg}" alt="filter icon">
                    <select name="filter" id="filter">
                        <option value="title">Filter and Sort</option>
                        <option value="sortByName">Sort by Course Name</option>
                        <option value="sortByName">Sort by Last Accessed</option>
                        <br>
                    </select>
                    <div id="filter-checkbox">
                        <input type="checkbox" name="inProgres" id="inProgres">
                        <label for="inProgres">In-progres</label>
                        <input type="checkbox" name="past" id="past" value="Past">
                        <label for="past">Past</label>
                        <input type="checkbox" name="hidden" id="hidden" value="hidden">
                        <label for="hidden">Hidden</label>
                    </div>
                    
                </div>
                <div id="search">
                    <img th:src="@{/images/search.svg}" alt="search icon">
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div id="course-card-wrapper">
                <button id="create-course-button" class="course-card" onclick="openForm()">
                    <div class="card-color create-color">
                        <img src="/images/add-button.svg" alt="add icon">
                    </div>
                    <h4><span>Add Course</span></h4>
                </button>
                <a th:each="m : ${matkulList}" href="#" class="course-link">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <div class="card-name">
                            <h4>
                                <span th:text="${m.namaMatkul}">Nama Matkul</span> 
                                (<span th:text="${m.kelasMatkul}">A</span>)
                            </h4>
                            <img src="/images/ellipsis.svg" alt="menu">
                        </div>
                    </div>
                </a>
            </div>

            <div class="popup" id="courseForm">
                <div class="popup-top">
                    <input type="image" src="/images/close-green.svg" onclick="closeForm()"/>
                </div>
                <div class="popup-bottom">
                    <div class="popup-header"> 
                        <h1>Create Course</h1>
                        <span>Add course with file or type manually</span>
                    </div>
                    <div class="popup-body">
                        <input type="file" id="csv-file-input" accept=".csv" class="add-file-btn">
                        <div class="manual-input-section">
                            <div class="input-row">
                                <div class="input-group">
                                    <label for="">Nama Matkul</label>
                                    <input type="text" id="namaMatkul" name="namaMatkul" placeholder="Nama Matkul" class="manual-input">
                                </div>
                                <div class="input-group">
                                    <label for="kelasMatkul">Kelas</label>
                                    <input type="text" id="kelasMatkul" name="kelasMatkul" placeholder="Kelas" class="manual-input">
                                </div>
                                <button type="button" id="add-manual-btn" class="add-manual-btn">Add</button>
                            </div>
                        </div>
            
                        <div id="course-list" class="course-list">
                            <!-- course items ditambahin pake js -->
                        </div>
                   
                    </div>
                    <button type="button" id="add-course-btn" class="submit-btn"><b>Add Course</b></button>
                </div>
            </div>

        </section>
    </main>
</body>
</html>