<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Besar</title>
    <link rel="stylesheet" href="../styles/course-nav-grading.css">
    <script src="" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img src="../assets/book.png" alt="book icon"></li>
                <li><a href="home-page.html">Home</a></li>
                <li><a href="course-home.html">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span>Nama</span> 
                    <span>61823010xx@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a href="profile-page.html">
                            <img src="" alt="profile picture">
                        </a>
                    </div>    
                </li>
                <li><img src="../assets/bell.png" alt="notification icon"></li>
                <li><img src="../assets/logout.png" alt="logout icon"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="course-nav">
            <a href="course-nav-grading.html"><p>Grading</p></a>
            <a href="course-nav-participant.html"><p>Participant</p></a>
            <a href="course-nav-group.html"><p>Group</p></a>
        </section>

        <section id="grading-container">
            <h1>Project - Rekayasa Perangkat Lunak</h1>
            <a href="course-nav-grading-add.html">
                <div id="add-phase">
                    <p>+</p>
                    <p>Add Phase</p>
                </div>
            </a>
            <p>Currently there is no grading yet!</p>
        </section>

    </main>
</body>
</html>