<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Besar</title>
    <link rel="stylesheet" href="../styles/course-home.css">
    <script src="" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img src="../assets/book.png" alt="book icon"></li>
                <li><a href="home-page.html">Home</a></li>
                <li><a href="course-home.html">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span>Nama</span> 
                    <span>61823010xx@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a href="profile-page.html">
                            <img src="" alt="profile picture">
                        </a>
                    </div>    
                </li>
                <li><img src="../assets/bell.png" alt="notification icon"></li>
                <li><img src="../assets/logout.png" alt="logout icon"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="course-overview">
            <h3>Course Overview</h3>
            <div id="course-header">
                <div id="filter-sort">
                    <img src="../assets/filter.svg" alt="filter icon">
                    <select name="filter" id="filter">
                        <option value="title">Filter and Sort</option>
                        <option value="sortByName">Sort by Course Name</option>
                        <option value="sortByName">Sort by Last Accessed</option>
                        <br>
                    </select>
                    <div id="filter-checkbox">
                        <input type="checkbox" name="inProgres" id="inProgres">
                        <label for="inProgres">In-progres</label>
                        <input type="checkbox" name="past" id="past" value="Past">
                        <label for="past">Past</label>
                        <input type="checkbox" name="hidden" id="hidden" value="hidden">
                        <label for="hidden">Hidden</label>
                    </div>
                    
                </div>
                <div id="search">
                    <img src="../assets/search.svg" alt="search icon">
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div id="course-card-wrapper">
                <a href="course-details.html">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <h4>Nama Mata Kuliah</h4>
                    </div>
                </a>
                <a href="course-details.html">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <h4>Nama Mata Kuliah</h4>
                    </div>
                </a>
                <a href="course-details.html">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <h4>Nama Mata Kuliah</h4>
                    </div>
                </a>
                <a href="course-details.html">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <h4>Nama Mata Kuliah</h4>
                    </div>
                </a>
                <a href="course-details.html">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <h4>Nama Mata Kuliah</h4>
                    </div>
                </a>
                <a href="course-details.html">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <h4>Nama Mata Kuliah</h4>
                    </div>
                </a>
                <a href="course-details.html">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <h4>Nama Mata Kuliah</h4>
                    </div>
                </a>
                <a href="course-details.html">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <h4>Nama Mata Kuliah</h4>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>
</html>