<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Besar</title>
    <link rel="stylesheet" href="../styles/course-nav-grading-add.css">
    <script src="" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img src="../assets/book.png" alt="book icon"></li>
                <li><a href="home-page.html">Home</a></li>
                <li><a href="course-home.html">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span>Nama</span> 
                    <span>61823010xx@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a href="profile-page.html">
                            <img src="" alt="profile picture">
                        </a>
                    </div>    
                </li>
                <li><img src="../assets/bell.png" alt="notification icon"></li>
                <li><img src="../assets/logout.png" alt="logout icon"></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="back-icon">
            <a href="../pages/course-nav-grading.html"><img src="../assets/back.svg" alt="back icon"></a>
        </div>
        <section id="create-grading-phase">
            <h1>Add Grading Phase</h1>
            <p>Fill additional details add grading phase</p>
            <form id="createCourseForm" action="">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="Enter Title" required>
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="4" cols="50">Enter description</textarea>
                <label for="groupMember">Assesment Rubric</label>
                <input type="text" name="assesmentRubric" id="groupMember" placeholder="Enter Rubric" required>
                <label for="groupSize">Schedule</label>
                <input type="date" name="groupSize" id="groupSize" required>
                <input type="submit" value="Create">
            </form>
        </section>

        <section id="popup-success">
            <p>Project successfully created!</p>
            <img src="../assets/close.svg" alt="close button">
        </section>
    </main>
</body>
</html>