<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Besar</title>
    <link rel="stylesheet" th:href="@{/css/dosen/course-nav-grading-phase-details-edit.css}">
    <script th:src="@{/js/dosen/gradingPhaseDetailsEdit.js}" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img th:src="@{/images/book.png}" alt="book icon"></li>
                <li><a th:href="@{/dosen/home}">Home</a></li>
                <li><a th:href="@{/dosen/course}">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span th:text="${user.nama}">Nama</span> 
                    <span th:text="${user.email}">email@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a th:href="@{/dosen/profile}">
                            <img th:src="@{${#strings.isEmpty(user.fotoProfil) ? '/images/default-profile.jpg' : user.fotoProfil}}" 
                                alt="profile picture" 
                                style="width: 100%; height: 100%; object-fit: cover;">
                        </a>
                    </div>    
                </li>
                <li><img th:src="@{/images/bell.png}" alt="notification icon"></li>
                <li><a th:href="@{/logout}"><img th:src="@{/images/logout.png}" alt="logout icon"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="phase-edit-container">
            <div id="back-icon">
                 <a th:href="@{/dosen/course/nav/grading/phase/groups(tahapId=${tahapId}, tubesId=${kelompok.tubesId})}">
                     <img th:src="@{/images/back.svg}" alt="back icon">
                 </a>
            </div>

            <div id="phase-container">
                <h1 th:text="${tahap.namaTahap} + ' ' + ${kelompok.namaKelompok}">Phase 1 Grading Group A</h1>
                <p>Group Grading</p>
                
                <form id="gradingForm">
                    <input type="hidden" name="tahapId" th:value="${tahapId}">

                    <div id="input-header">
                        <input type="radio" name="grade-all" id="grade-all">
                        <label for="grade-all">Apply Grade to All</label>
                        
                        <input type="number" name="score" id="score" placeholder="Masukkan Nilai" disabled>
                    </div>

                    <div id="phase-body-container">
                        <div id="table-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Group Members</th>
                                        <th>Individual Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="member : ${membersWithScores}">
                                        <td>
                                            <span th:text="${member.npm}">6182201088</span> 
                                            <span th:text="${member.nama}">Nama</span>
                                            <input type="hidden" name="userId" th:value="${member.user_id}">
                                        </td>
                                        
                                        <td class="score-input-wrapper">
                                            <img class="editNilaiBtn" th:src="@{/images/edit-icon.svg}" alt="">
                                            
                                            <p th:text="${member.nilai != null ? member.nilai : 0}"></p>
                                            
                                            <input class="editScore" type="number" step="0.01" min="0" max="100" 
                                                   name="nilai" 
                                                   th:value="${member.nilai != null ? member.nilai : 0}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="comment-container">
                            <h3>Comment</h3>
                            <textarea name="komentar" id="comment" th:text="${membersWithScores[0].komentar}" placeholder="Masukkan comment"></textarea>
                            <button id="save" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        <section>
    </main>
</body>
</html>