<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Besar</title>
    <link rel="stylesheet" TH:href="@{/css/dosen/course-create.css}">
    <script th:src="@{/js/createCourse.js}" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img th:src="@{/images/book.png}" alt="book icon"></li>
                <li><a th:href="@{/dosen/home}">Home</a></li>
                <li><a th:href="@{/dosen/course}">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span>Nama</span> 
                    <span>61823010xx@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a th:href="@{/dosen/profile}">
                            <img src="" alt="profile picture">
                        </a>
                    </div>    
                </li>
                <li><img th:src="@{/images/bell.png}" alt="notification icon"></li>
                <li><img th:src="@{/images/logout.png}" alt="logout icon"></li>
            </ul>
        </nav>
    </header>

    <!-- INI TAMPILAN AWAL COURSE KALAU BELUM ADA SAMA SEKALI -->
    <main>
        <div id="back-icon">
            <img th:src="@{/images/back.svg}" alt="back icon">
        </div>
        <section id="create-course">
            <h1>Create Project Details</h1>
            <p>Fill additional details to get started</p>
            <form id="createCourseForm" action="">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" required>
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="4" cols="50">Enter description</textarea>
                <label for="groupMember">Number of group member</label>
                <input type="number" name="groupMember" id="groupMember" required>
                <label for="groupSize">Group Size</label>
                <input type="number" name="groupSize" id="groupSize" required>
                <input type="submit" value="Create">
            </form>
        </section>

        <section id="popup-success">
            <p>Project successfully created!</p>
            <img th:src="@{/images/close.svg}" alt="close button">
        </section>
    </main>
</body>
</html>