<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Besar</title>
    <link rel="stylesheet" href="../styles/profile-page.css">
    <script src="../scripts/profile.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img src="../assets/book.png" alt="book icon"></li>
                <li><a href="home-page.html">Home</a></li>
                <li><a href="course-home.html">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span>Nama</span> 
                    <span>61823010xx@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a href="profile-page.html">
                            <img src="" alt="profile picture">
                        </a>
                    </div>
                </li>
                <li><img src="../assets/bell.png" alt="notification icon"></li>
                <li><img src="../assets/logout.png" alt="logout icon"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="profile-container">
            <div id="profile-head">
                <div id="profile-picture">
                    <img src="" alt="profile pic">
                </div>
                <div id="profile-name">
                    <h1>Nama <span>Dosen</span></h1>
                    <h2>61823010xx@unpar.ac.id</h2>
                    <h3>Teknik Informatika, Fakultas Sains</h3>
                </div>
            </div>

            <div id="profile-body">
                <div id="body-left">
                    <p>Gender : </p>
                    <p>Place, Date of Birth : </p>
                    <p>Phone Number : </p>
                    <p>Password : </p>
                </div>   
                <div id="body-right">
                    <p>Male</p>
                    <p>Bandung, 10 Nov 2001</p>
                    <p>0812345678</p>
                    <p>************</p>

                    <!-- POP UP EDIT PROFILE HIDDEN -->
                    <div id="edit-profile">
                        <form id="form-edit-profile" action="">
                            <input type="text" name="oldPassword" id="oldPassword" placeholder="Enter Old Password" required>
                            <input type="text" name="newPassword" id="newPassword" placeholder="Enter New Password" required>
                            <input type="text" name="oldPasswordRetype" id="oldPasswordRetype" placeholder="Re-type Old Password" required>
                        </form>
                    </div>
                </div>
            </div>

            <div id="profile-button">
                <button>Edit Profile</button>
                <button>Change Password</button>
            </div>
        </section>
    </main>
</body>
</html>