:root {
    --text-color: #535F24;
    --secondary-color: #ACBD6F;
    --background-color: #FDFAE7;
    --button-color: #8FA053;
    --input-background: #FFFFFF;
    --input-border: #D8D8D8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Inter', sans-serif;
    letter-spacing: 0.2px;
    font-weight: 350;
}

body {
    background-color: #FAF6D9;
    display: grid;
    height: 100vh;
    grid-template-areas: "header" "main";
    grid-template-rows: auto 1fr;
}

body::-webkit-scrollbar {
    display: none;
}

/* ===================== Header + Navigation ===================== */
header {
    position: sticky;
    top: 0;
    z-index: 99;
    grid-area: header;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 0.5em 0;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.05em;
    font-weight: 500;
}

nav img {
    width: 2.2em;
    filter: brightness(0) invert(1);
}

/* Left Nav */
#nav-left {
    width: 20%;
    margin-left: 2em;
}

#nav-left img {
    transform: scale(1.5);
}

#nav-left li:nth-child(2),
#nav-left li:nth-child(3) {
    padding: 0.5em;
}

#nav-left li:nth-child(2),
#nav-left li:nth-child(3):hover {
    cursor: pointer;
}

/* Right Nav */
#nav-right {
    margin-right: 2em;
    cursor: pointer;
}

#nav-right li:first-child {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: small;
    justify-content: end;
}

#nav-right div {
    width: 3.5em;
    height: 3.5em;
    background: #D4C9F1;
    border-radius: 50%;
    overflow: hidden;
}

#nav-right div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
}

/* ===================== Profile Card ===================== */

main {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.profile-card {
    width: 65%;
    height: 75vh;
    background: var(--background-color);
    border-radius: 15px;
    padding: 4em;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 3em;
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
}

.profile-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

}
/* Avatar */
.profile-avatar #profile-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #D4C9F1;
}

/* Divider line */
.divider {
    width: 2px;
    height: 55vh;
    background: var(--secondary-color);
}

/* Right info section */
.profile-info {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.info-row {
    display: grid;
    grid-template-columns: 120px auto;
    gap: 1em;
    font-size: 1rem;
    letter-spacing: 0.4px;
    width: 535px;
}

.label {
    font-weight: 600;
    color: var(--text-color);
}

.info-row span:last-child {
    font-weight: 400;
    color: var(--text-color);
}

/* Edit button */
#edit-btn { 
    justify-content: flex-end;
    background: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.7em 2em;
    border-radius: 25px;
    font-size: 12px; 
    display: flex;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}

#pfp-btn { 
    justify-content: flex-end;
    background: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.7em 2em;
    border-radius: 25px;
    font-size: 12px; 
    display: flex;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}

#editsvg {
    width: 12px;
    height: 12px;
    border-radius: 0%;
}

#save-btn { 
    justify-content: flex-end;
    background: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.7em 2em;
    border-radius: 25px;
    font-size: 12px; 
    display: flex;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}

#password-buttons {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}

#cancel-btn {
    align-self: flex-end;
    background: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 0.7em 2em;
    border-radius: 25px;
    font-size: 12px; 
    display: flex;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}

.password-row {
    display: flex;
    align-items: flex-start;
    gap: 3em;
}

.password-row #passPlaceholder {
    display: flex;
}

.editPassword { 
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.editPassword input {
    height: 35px;
    border-radius: 6px;
    border: 1px solid #C9C9C9;
    padding: 0 12px;
    font-size: 0.9rem;
    outline: none;
}

.editPassword input:focus {
    border-color: #6E6E96;
}