<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
</head>

<body>
    <div id="container">
        <div id="login-box"> 
            <h2>Forgot Password?</h2>

            <p>Please enter your email address to reset your password.</p>

            <label>Email</label>
            <input type="email" placeholder="Enter email"> 

            <button>Reset Password</button>

            <a id="back" href="login.html">Back to sign in</a>
        </div>
    </div>

</body>

</html>
