<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Besar</title>
    <link rel="stylesheet" th:href="@{/css/home-page.css}">
    <script src="" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img th:src="@{/images/book.png}" alt="book icon"></li>
                <li><a href="home-page.html">Home</a></li>
                <li><a href="course-home.html">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span>Nama</span> 
                    <span>61823010xx@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a href="profile-page.html">
                            <img src="" alt="profile picture">
                        </a>
                    </div>
                </li>
                <li><img th:src="@{/images/bell.png}" alt="notification icon"></li>
                <li><img th:src="@{/images/logout.png}" alt="logout icon"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="image-container">
            <img th:src="@{/images/homepage-img.png}" alt="">
            <div id="info-wrapper">
                <img th:src="@{/images/book.svg}" alt="">
                <p>Tubes <br>UNPAR</p>
            </div>
        </section>

        <section id="on-going-course">
            <h1>On Going</h1>
            <div id="course-wrapper">
                <div class="course-card">
                    <div class="date">
                        <img th:src="@{/images/calender.svg}" alt="calender icon">
                        <p>17 November 2026</p>
                    </div>
                    <h3>Project - <span>Rekayasa Perangkat Lunak</span></h3>    
                </div>
                    
                <div class="course-card">
                    <div class="date">
                        <img th:src="@{/images/calender.svg}" alt="calender icon">
                        <p>17 November 2026</p>
                    </div>
                    <h3>Project - <span>Rekayasa Perangkat Lunak</span></h3>    
                </div>
                
                <div class="course-card">
                    <div class="date">
                        <img th:src="@{/images/calender.svg}" alt="calender icon">
                        <p>17 November 2026</p>
                    </div>
                    <h3>Project - <span>Rekayasa Perangkat Lunak</span></h3>    
                </div>
            </div>    
        </section>
    </main>
</body>
</html>