<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Besar</title>
    <link rel="stylesheet" th:href="@{/css/matkulStyle.css}">
    <script src="" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img src="/images/Logo.png" alt="book icon"></li>
                <li><a th:href="@{'/'+${user.role}+'/home'}">Home</li>
                <li><a href="">Course</a>
                </li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span th:text="${user.nama}">Nama User</span> 
                    <span th:text="${user.email}">user@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a href="profile-page.html">
                            <img th:src="${user.fotoProfil != null} 
                                ? @{/uploads/profile/{f}(f=${user.fotoProfil})} 
                                : @{/images/default_profile.png}" 
                                alt="profile picture">
                        </a>
                    </div>
                </li>
                <li><img src="/images/bell.png" alt="notification icon"></li>
                <li><img src="/images/logout.png" alt="logout icon"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="course-overview">
            <h3>Course Overview</h3>
            <div id="course-header">
                <div id="filter-sort">
                    <img th:src="@{/images/filter.svg}" alt="filter icon">
                    <select name="filter" id="filter">
                        <option value="title">Filter and Sort</option>
                        <option value="sortByName">Sort by Course Name</option>
                        <option value="sortByName">Sort by Last Accessed</option>
                        <br>
                    </select>
                    <div id="filter-checkbox">
                        <input type="checkbox" name="inProgres" id="inProgres">
                        <label for="inProgres">In-progres</label>
                        <input type="checkbox" name="past" id="past" value="Past">
                        <label for="past">Past</label>
                        <input type="checkbox" name="hidden" id="hidden" value="hidden">
                        <label for="hidden">Hidden</label>
                    </div>
                    
                </div>
                <div id="search">
                    <img th:src="@{/images/search.svg}" alt="search icon">
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div id="course-card-wrapper">
                <a th:each="m : ${matkulList}" href="#" class="course-link">
                    <div class="course-card">
                        <div class="card-color"></div>
                        <h4>
                            <span th:text="${m.namaMatkul}">Nama Matkul</span> 
                            (<span th:text="${m.kelasMatkul}">A</span>)
                        </h4>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>
</html>