<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Group</title>
    <link rel="stylesheet" th:href="@{/css/mahasiswa/course-nav-group.css}">
</head>

<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img th:src="@{/images/book.png}" alt="book icon"></li>
                <li><a th:href="@{/mahasiswa/home}">Home</a></li>
                <li><a th:href="@{/mahasiswa/course}">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span th:text="${user.nama}">Nama Mahasiswa</span>
                    <span th:text="${user.email}">email</span>
                </li>
                <li>
                    <div>
                        <a th:href="@{/mahasiswa/profile}">
                            <img th:src="@{/images/default-profile.png}" alt="profile">
                        </a>
                    </div>
                </li>
                <li><img th:src="@{/images/bell.png}" alt="notif"></li>
                <li><a th:href="@{/logout}"><img th:src="@{/images/logout.png}" alt="logout"></a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <!--Nav Page-->
        <nav class="course-tabs">
            <a th:href="@{/mahasiswa/grading-phase(id=${selectedMatkulId})}" class="tab-button"
                name="Grading">Grading</a>
            <a th:href="@{/mahasiswa/course-nav-participant(id=${selectedMatkulId})}" class="tab-button"
                name="Participants">Participant</a>
            <a th:href="@{/mahasiswa/course-nav-group(id=${selectedMatkulId})}" class="tab-button"
                name="Group">Groups</a>
        </nav>

        <div id="status-group">
            <img th:if="${tubes.isLocked}" th:src="@{/images/lock-group.svg}" alt="Group Locked">
            <img th:unless="${tubes.isLocked}" th:src="@{/images/unlock-group.svg}" alt="Group Unlocked">
        </div>

        <section id="view-group-container">

            <div id="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Choice</th>
                            <th>Group</th>
                            <th>Capacity</th>
                            <th>Group Members</th>
                            <th class="header-with-button">
                                <button type="button" id="show-selected-group-btn">Show Group Members</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="group : ${listKelompok}">
                            <td style="text-align: center;">
                                <input type="radio" name="selectedGroup" th:id="|group-${group.id}|"
                                    th:value="${group.id}" th:checked="${group.id == selectedGroupId}"
                                    th:disabled="${tubes.isLocked or alreadyJoined}">
                                <label th:for="|group-${group.id}|"></label>
                            </td>
                            <td>
                                <span th:text="${group.namaKelompok}" style="font-weight:bold;"></span>
                            </td>

                            <td th:text="${group.jmlAnggota}"></td>

                            <td class="member-list">
                                <div class="member-wrapper">
                                    <div th:if="${not #lists.isEmpty(group.listAnggota)}">
                                        <div th:each="member : ${group.listAnggota}" class="member-item">
                                            <span th:text="${member.nama}">Nama</span>
                                        </div>
                                    </div>
                                    <div th:if="${#lists.isEmpty(group.listAnggota)}"
                                        style="color: #aaa; font-style: italic;">
                                        No members yet
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr th:if="${#lists.isEmpty(listKelompok)}">
                            <td colspan="4" style="text-align: center; padding: 2em; color: gray;">
                                No groups created yet.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="text-align:center; margin-top:20px;">
                    <button type="submit" class="save-btn"
                        th:text="${alreadyJoined ? 'Remove My Choice' : 'Save My Choice'}" th:name="action"
                        th:value="${alreadyJoined ? 'remove' : 'save'}" th:disabled="${tubes.isLocked}">
                    </button>
                </div>
            </div>

    </main>
</body>

</html>