<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Home</title>

    <link rel="stylesheet" th:href="@{/css/mahasiswa/home-page.css}">
</head>
<body>
    <header>
        <nav>
            <ul id="nav-left">
                <li><img th:src="@{/images/book.png}" alt="book icon"></li>
                <li><a th:href="@{/mahasiswa/home}">Home</a></li>
                <li><a th:href="@{/mahasiswa/course}">Course</a></li>
            </ul>
            <ul id="nav-right">
                <li>
                    <span th:text="${user.nama}">Nama Mahasiswa</span> 
                    <span th:text="${user.email}">Mahasiswa@unpar.ac.id</span>
                </li>
                <li>
                    <div>
                        <a th:href="@{/mahasiswa/profile-page}">
                            <img th:src="@{${#strings.isEmpty(user.fotoProfil) ? '/images/default-profile.jpg' : user.fotoProfil}}" 
                                alt="profile picture" 
                                style="width: 100%; height: 100%; object-fit: cover;">
                        </a>
                    </div>    
                </li>
                <li><img th:src="@{/images/bell.png}" alt="notification icon"></li>
                <li><a th:href="@{/logout}"><img th:src="@{/images/logout.png}" alt="logout icon"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="image-container">
            <img th:src="@{/images/homepage-img.png}" alt="Hero Image">
            <div id="info-wrapper">
                <img th:src="@{/images/book.svg}" alt="Logo Book">
                <p>Tubes <br>UNPAR</p>
            </div>
        </section>

        <section id="bellowIMG">
            <section id="on-going-courseMHS">
                <h1>On Going</h1>

                <div id="course-wrapperMHS">
                    <div class="course-cardMHS" th:each="t : ${tubeslist}">
                        <div class="date">
                            <img th:src="@{/images/calendar.svg}" alt="calender icon">
                            <p th:text="${#temporals.format(t.endDate, 'dd MMMM yyyy')}">01 January 2025</p>
                        </div>
                        <h3>
                            <span th:text="${t.namaTubes}">Judul</span> - 
                            <span th:text="${t.matkul}">Matkul</span>
                            (<span th:text="${t.kelas}">kelas</span>)
                        </h3>  
                    </div>
                </div>
            </section>

            <section id="timeline-section">
                <h1>Timeline</h1>

                <div id="timeline-wrapper">
                    <div class="timeline-card" th:each="p : ${phaselist}">

                        <div class="date">
                            <img th:src="@{/images/calendar.svg}" alt="calendar icon">
                            <p th:text="${#temporals.format(p.tanggalAkhir, 'dd MMMM yyyy')}">01 January 2025</p>
                        </div>
                        <div class="timeline-content">
                            <img th:src="@{/images/Inbox.svg}" alt="file icon">
                            <p th:text="${p.namaTahap} + ' - ' + ${p.namaMatkul}">SRS - Rekayasa Perangkat Lunak</p>
                        </div>

                        <button class="detail-button">View Detail</button> <!--belom dipakein th href-->
                    </div>

                </div>
            </section>
        </section>
    </main>
</body>
</html>